<?xml version="1.0" encoding="UTF-8" ?>
<config version= "1.9.1">
	<server>127.0.0.1</server>
	<processList>
		<process>
			<commsPort>88881</commsPort>
			<trigger>
				<name>interval</name>
				<params>
					<rate>1000</rate>
				</params>
			</trigger>
			<actor>
				<name>Copy</name>
				<params>
					<source>c:\users\lance\temp\s1</source>
					<target>c:\users\lance\temp\t1</target>
				</params>
			</actor>
		</process>
		<process>
			<commsPort>88882</commsPort>
			<trigger>
				<name>AllImagesInDirectory</name>
				<params>
					<source>c:\users\lance\temp\t1</source>
				</params>
			</trigger>
			<actor>
				<name>RunAgentThenDelete</name>
				<params>
					<target>c:\users\lance\temp</target>
					<agentParams>
						<source></source>
					</agentParams>
				</params>
			</actor>
		</process>
	</processList>
</config>